.allModal{
    position: fixed;
    z-index: 8000;
    height: 100vh;
    width: 100vw;
    overflow-y: auto;
    display: flex;
    justify-content: center;
    
}




.modalContent{
width: 80%;
height: 80%;
z-index: 9000;
background-color: rgb(126, 32, 214);
border: 1px;

}